#wrapper {
  width: 60%;
}

#wrapper .container {
  max-width: 100%;
  display: block;
}

textarea {
  overflow-y: scroll;
  height: 150px;
  resize: none;
}

.list-unstyled {
  margin-left: 1em;
}

.bulb-on {opacity: 1;}
.bulb-off {opacity: 0.4;}
