  <footer class="footer container-fluid">

      <div class="col-md-4 text-center">
        <ul class="list-unstyled">
        		<li><a href="//discord.gg/79cbsTu" target="_blank">Join our Discord</a></li>
        		<li><a href="//www.teamfortress.tv/40869/cfg-tf" target="_blank">Discuss on TFTV</a></li>
        		<li><a href="//github.com/mkrl/cfgtf/issues" target="_blank">Report an issue</a></li>
        		<li><a href="//github.com/mkrl/cfgtf" target="_blank">View the source code</a></li>
        </ul>
      </div>

      <div class="col-md-4 text-center">
      	<p>CFG.TF</p>
        <p><small>a custom TF2 config generator by <a href="https://steamcommunity.com/id/2x100/" target="_blank">200</a></small></p>
      </div>

      <div class="col-md-4">
        <p class="text-center">~
          <script language="JavaScript">
            var fhsh = document.createElement('script');
            var fhs_id_h = "3234623";
            fhsh.src = "//s1.freehostedscripts.net/ocount.php?site=" + fhs_id_h + "&name=configs&a=1";
            document.head.appendChild(fhsh);
            document.write("<span id='h_" + fhs_id_h + "'></span>");
          </script> generated so far.
        </p>
      </div>

  </footer>