<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}
	  <nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/"><i class="fa fa-cogs" aria-hidden="true"></i> CFG.TF</a>
			</div>
			<ul class="nav navbar-nav">
				<li>
					<a href="/make">Generate</a>
				</li>
				<li>
					<a href="/server">Server config</a>
				</li>
				<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Articles<span class="caret"></span></a>
				  <ul class="dropdown-menu" role="menu">
					<li><a href="/read/interp">Networking in Source games</a></li>
					<li><a href="/read/health">Health care</a></li>
					<li><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=154435696" target="_blank"><i class="fa fa-external-link"></i>  Scripting guide</a></li>
				  </ul>
				</li>
				<li>
					<a href="/configs">Configs</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="/faq/">FAQ</a>
				</li>
				<li>
					<a href="/about/">About</a>
				</li>
				<li class="active">
					<a href="/blog/">Blog</a>
				</li>
			</ul>
		</div>
	</nav>
    <main class="page-content" aria-label="Content">
      <div class="container">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
