---
layout: main
---


  <script>
  $(function(){
    $('.vividworknav').animate({'margin-top': '0px'}, 600);
  });
  </script>

  <section class="text-center jumbotron" style="margin-bottom: 0 !important; ">
    <div class="container">
      <div class="col-md-6">
        <noscript>
          <div class="alert alert-warning">
            <strong>Javascript is required to use this website's features.</strong>
          </div>
        </noscript>

        <h1>Welcome to <strong>CFG.TF</strong></h1>
        <h3>An open-source hub dedicated to Team Fortress 2 configuration</h3> </div>
      <div class="col-md-6">

        <div class="alert alert-dismissible alert-info">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Play competitive TF2 at a high level?</strong> Please consider sharing your cfg and custom content by filling in this <a href="https://docs.google.com/forms/d/e/1FAIpQLSfJ4UxedsbcEKWbcPKB9M3EWlmdd5B2vSFtBR_fbGaREumbxw/viewform?usp=sf_link" class="alert-link" target="_blank">Google Form</a>, to support the creation of a pre-made config repository.
        </div>

        <div class="row center-block">
          <!-- <h3>Opinion of the day</h3> -->
          <blockquote >
            <script language="JavaScript">
              var r_text = new Array();
              r_text[0] = "<p>Nice, it's a good upgrade from tf2mate.</p><small>Failw1zard on <cite title='Source'>Teamfortress.TV</cite></small>";
              r_text[1] = "<p>someone should sticky this</p><small>yahoo from <cite title='Source'>Teamfortress.TV</cite></small>";
              r_text[2] = "<p>This is honestly fucking useful. Use it people</p><small>Raczoo from <cite title='Source'>Reddit</cite></small>";
              r_text[3] = "<p>fuck you this is terrible it ruined my game</p><small>WEGWEGABIT from <cite title='Source'>r/truetf2</cite></small>";
              r_text[4] = "<p>...</p><small>feedback from <cite title='Source'>UGC forums</cite></small>";
              r_text[5] = "<p>remeber this</p><small>MrGlitchyypants from <cite title='Source'>Reddit</cite></small>";
              r_text[6] = "<p>I feel like if what you are making teamed up with huds.tf and hit.tf, it would be the hub for all TF2 customization, easily accessible to newer players, although that seems like WAY too much work for just one person.</p><small>Thole from <cite title='Source'>Teamfortress.TV</cite></small>";
              r_text[7] = "<p>Don't use to many HUD elements</p><footer>Comanglia from <cite title='Source'>Teamfortress.TV</cite></footer>";
              r_text[8] = "<p>It's about time someone finally made something like this! Mad respect</p><small>Koi - from our <cite title='Source'>Discord server</cite></small>";
              r_text[9] = "<p>now this is what i call a nut website</p><small>bleghfarec - from our <cite title='Source'>Discord server</cite></small>";
              r_text[10] = "<p>can all top players upload their configs so we never have another _____'s config thread ever again</p><small>knsume from <cite title='Source'>Teamfortress.TV</cite></small>";
              r_text[11] = "<p>Awesome, actually quite a lot of useful information about network conditions. I also noticed that a config really matters on my desktop without a proper videocard.</p><small>teamworktf from <cite title='Source'>Reddit</cite></small>";
              r_text[12] = "<p>Frigging awesome. totally going to mention it on the show tonight</p><small>Agro | KritzKast - from our <cite title='Source'>Discord server</cite></small>";
              var i = Math.floor(13*Math.random())
              document.write(r_text[i]);
            </script>
          </blockquote>
        </div>

      </div>
    </div>
  </section>

<section id="generator_chooser" class="container-fluid">

    <div class="col-md-12 col-lg-6">
			<a href="./make">
			<div style="background-image: url('./img/client_gen.svg');" class="image"></div>
			<div class="work-text-content">
				<div class="work-text-content-inner">
					<h2>Generate a client config</h2>
					<h3>Optimize a user's game.</h3>
				</div>
			</div>
			<h2 class="text-center text-muted">Client</h2>
		</a>
    </div>

		<div class="col-md-12 col-lg-6 generator_chooser_link">
			<div style="background-image: url('./img/server_gen.svg');" class="image"></div>
			<a href="./server">
				<div class="work-text-content">
					<div class="work-text-content-inner">
						<h2>Generate a server config</h2>
						<h3>Create a set of configuration files to easily set up a server's settings &amp; plugins.</h3>
					</div>
				</div>
				<h2 class="text-center text-muted">Server</h2> </a>
		</div>

</section>

  <section class="container page-header">
    <div class="row">
      <div class="jumbotron">
        <h1>Introducing CFG.TF</h1>
        <p>A simple custom config creating tool. No additional scripting knowlege required. Easy and powerful.</p>
        <p>Any questions? See the <a href="./faq">F.A.Q.</a></p>
      </div>
    </div>
  </section>

  <section id="partners" class="container" align="center">
    <div class="row text-center">
      <p><h1 class="h1 page-header">Check out other cool sites</h1></p>

	  <div id="partner_logos">
			<div class="row">

		      <div class="col-md-2 col-sm-4 col-xs-6">
		        <a href="http://www.teamfortress.tv/" target="_blank"><img src="./img/partner/tftv.jpg" class="img-circle img-thumbnail">
		          <h5>teamfortress.tv</h5>
							<h6 class="text-muted">The home of competitive TF2</h6>
		        </a>
		      </div>
		      <div class="col-md-2 col-sm-4 col-xs-6">
		        <a href="http://comp.tf/" target="_blank"><img src="./img/partner/comptf.jpg" class="img-circle img-thumbnail">
							<h5>comp.tf</h5>
							<h6 class="text-muted">A wiki hub for all competitive TF2 things.</h6>
		        </a>
		      </div>
		      <div class="col-md-2 col-sm-4 col-xs-6">
		        <a href="https://sourcecbl.com/" target="_blank"><img src="./img/partner/sourcecbl.png" class="img-circle img-thumbnail">
		          <h5>SourceCBL</h5>
							<h6 class="text-muted">Source Community Ban List</h6>
		        </a>
		      </div>
		      <div class="col-md-2 col-sm-4 col-xs-6">
		        <a href="https://pan.tf" target="_blank"><img src="./img/partner/rsp.jpg" class="img-circle img-thumbnail">
							<h5>Ready Steady Pan</h5>
							<h6 class="text-muted">Competitive TF2 format revolving around the use of food items and the frying pan</h6>
		        </a>
		      </div>
		      <div class="col-md-2 col-sm-4 col-xs-6">
		        <a href="https://www.kritzkast.com/" target="_blank"><img src="./img/partner/kritz.jpg" class="img-circle img-thumbnail">
		          <h5>KritzKast</h5>
							<h6 class="text-muted">The weekly TF2 podcast</h6>
		        </a>
		      </div>
		      <div class="col-md-2 col-sm-4 col-xs-6">
		        <a href="http://whitelist.tf/" target="_blank"><img src="./img/partner/whitelist.jpg" class="img-circle img-thumbnail">
		          <h5>whitelist.tf</h5>
							<h6 class="text-muted">Custom whitelist generator for TF2</h6>
		        </a>
		      </div>
				</div>
				<div class="row">
		      <div class="col-md-2 col-md-offset-2 col-sm-4 col-xs-6">
		        <a href="https://hugs.tf/" target="_blank"><img src="./img/partner/hugstf.jpg" class="img-circle img-thumbnail">
		          <h5>hugs.tf</h5>
							<h6 class="text-muted">Charity Loving Hat Enthusiasts</h6>
		        </a>
		      </div>
		      <div class="col-md-2 col-sm-4 col-xs-6">
		        <a href="https://teamwork.tf/" target="_blank"><img src="./img/partner/teamwork.jpg" class="img-circle img-thumbnail">
		          <h5>teamwork.tf</h5>
							<h6 class="text-muted">TF2 news aggregated from various sources</h6>
		        </a>
		      </div>
		      <div class="col-md-2 col-sm-4 col-xs-6">
		        <a href="http://huds.tf/" target="_blank"><img src="./img/partner/hudstf.jpg" class="img-circle img-thumbnail">
		          <h5>huds.tf</h5>
							<h6 class="text-muted">Online database for Team Fortress 2 HUDs</h6>
		        </a>
		      </div>
		      <div class="col-md-2 col-sm-4 col-xs-6" >
		        <a href="https://essentials.tf/" target="_blank"><img src="./img/partner/essentials.jpg" class="img-circle img-thumbnail">
		          <h5>essentials.tf</h5>
							<h6 class="text-muted">Your source for everything TF2</h6>
		        </a>
		      </div>
		      <div class="col-md-2 col-sm-4 col-xs-6" >
		      </div>

				</div>
			</div>
    </div>
  </section>

