---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

<div class="container">
<div class="row content">
	<h1 class="page-header text-center">Latest website news</h1>
    <div class="col-sm-3 sidenav">
      <h4>Recent posts:</h4>
		<div class="list-group">
		{% for post in site.posts %}
	  <a href="{{ post.url | relative_url }}" class="list-group-item">
		<h4 class="list-group-item-heading">{{ post.title | escape }}</h4>
		{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
		<p class="list-group-item-text">{{ post.date | date: date_format }}</p>
	  </a>
		{% endfor %}
	</div>
	<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    </div>
  
      <div class="col-sm-9">
      <h4><small>{{ page.date | date: date_format }}</small></h4>
	
      <hr>
      <h2>{{ page.title | escape }}</h2>
	  <p>
	  {{ content }}
	  </p>
	</div>
  
  

  
</div>
</div>

</article>
